@import url("https://fonts.googleapis.com/css?family=Bangers");
@import "reset.css";

/*-------- General -----------*/
* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

body {
    font-family: 'Bangers', cursive;
    background-color: #ff9933;
    color: #211809;
}

#main {
    flex-direction: column;
    min-height: 100vh;
    display: flex;
}

.content {
    flex: 1;
}

footer {
    background-color: #000;
    height:7.33rem;
    margin-top: 1rem;
}

#logo {
    text-align: center;
}

#img {
    margin: 0;
    width:auto;
}

/*-------  Navigation -----------*/
.navigation {
    display: table;
    width: 75%;
    margin: -3px auto 0 auto;
    padding: 0;
    background: -webkit-linear-gradient(#F65E01,#D62300);
    background: -moz-linear-gradient(#F65E01,#D62300);
    background: -o-linear-gradient(#F65E01,#D62300);
    background: linear-gradient(#F65E01,#D62300);
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3),
    0 3px 5px rgba(0, 0, 0, .2),
    0 5px 10px rgba(0, 0, 0, .2),
    0 20px 20px rgba(0, 0, 0, .15);
}

#nav-bar {
    padding:0;
}

.btn-nav {
    display: table-cell;
}

.navs-link {
    display: block;
    text-align: center;
    font-size: 3.25rem;
    color: rgba(0, 0, 0, .7);
    text-decoration: none;
    padding: 1rem 1rem 2.1rem 1rem;
    transition: all .3s .1s;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .4);
    box-shadow:
    0 -1px 0 hsl(10, 100%, 32%) inset,
    0 -2px 0 hsl(10, 100%, 38%) inset,
    0 -3px 0 hsl(10, 100%, 44%) inset,
    0 -4px 0 hsl(10, 100%, 50%) inset,
    0 -5px 0 hsl(10, 100%, 60%) inset;
    position: relative;
    border-right: rgba(185, 146, 0, 0.5) 1px dashed;
}


.navs-link::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 1rem;
    margin-left: -2px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: rgba(0, 0, 0, .5);
}

.navs-link:hover::before,
.navs-link:focus::before{
    background: rgba(255, 255, 255, .7);
    box-shadow: 0 0 2px white,
    0 -1px 0 rgba(0, 0, 0, .4);
}

.btn-nav:first-child a{
    border-radius: 3px 0 0 3px;
}
.btn-nav:last-child a{
    border-radius: 0 3px 3px 0;
    border-right: 0;
}

.navs-link:hover,
.navs-link:focus{
    padding: 1rem 2.8rem 2.1rem 2.8rem;
    background: rgba(180,180,0,.2);
    box-shadow:
    0 -1px 0 hsl(10, 100%, 42%) inset,
    0 -2px 0 hsl(10, 100%, 48%) inset,
    0 -3px 0 hsl(10, 100%, 54%) inset,
    0 -4px 0 hsl(10, 100%, 60%) inset,
    0 -5px 0 hsl(10, 100%, 66%) inset;
    transition: all .3s 0s;
}

.navs-link:active{
    background: linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.1));
    box-shadow: 0 0 2px rgba(0,0,0,.3) inset;
}

.navs-link.active {
    color: rgba(255,255,255,.7);
}

.navs-link.active:before {
    background: rgba(255, 255, 255, .7);
}

/*--------- Accueil -----------*/

#home {
   margin: 1.3rem 2.5rem;
   padding: 1.3rem;
}

#pres{
    border-right: #211809 dashed 1px;
}

#home h2 {
    text-align: center;
    font-size: 5.2rem;
    margin: 2.3rem 0;
}

#pres p {
    text-align: justify;
    font-size: 2.4rem;
    text-indent: 2rem;
    padding: 1.8rem 2.2rem 0 0;
    line-height: 1.2;
}

#news{

}

#news li {
    text-align: justify;
    font-size: 2.4rem;
    padding: 1.8rem 0 0 2.2rem;
    line-height: 1.2;
}

/*-------- Personnages ------------*/

#view {
    background-image: url('../img/background.png');
    border: #d5f8ff 6px groove;
    border-radius:3%;
    max-width: 100%;
    color :#fff;
    font-family: 'Bangers', cursive;
}

.perso{
    padding : 0 .15em 0 .15em;
}

.portrait {
    padding: 0 !important;
    border: #000 3px solid;
    border-radius: 50%;
    max-width: 100%;
}

.big-portrait {
    max-width: 100%;
    border: #c17713 4px groove;
    border-radius: 8px;
}

.name-char {
    font-size: 2.75rem;
    text-align: center;
    margin-bottom: 1.65em;
}

.link {
    background-color: #a7200f;
    border: #4b1602 3px solid;
    border-radius: 9%;
    color :#fff;
    font-family: 'Bangers', cursive;
    text-decoration: none;
    font-size: 1.85rem;
    text-align: center;
    padding: .15em;
}

.sprite {
    position: absolute;
    top: 4.4em;
    left: 3.4em;
}

.description {
    font-size: 1.35rem;
    text-align: justify;
}

.text-center {
    text-align: center;
}

#select-type {
    padding: .65em;
    height: 70px;
}

.select-button {
    padding:0.3em 1.2em;
    margin: .35em;
    border: 0.16em solid rgba(255,25,5,.35);
    border-radius: 2em;
    box-sizing: border-box;
    background-color: #f16e10;
    color: #fff;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    font-family: 'Bangers', cursive;
    text-align: center;
    font-size: 1.215rem;
    transition: all 0.2s;
    box-shadow: 0 4px 6px 0 rgba(0,0,0,0.2), 0 4px 8px 0 rgba(0,0,0,0.19);
}

.select-button:hover {
    border-color: rgba(255,240,240,.95);
}

/*-------- Stages ------------*/

#stages {
    margin: 0 .5em;
}

.stage {
    padding: 0 !important;
    text-align: center;
}

.image-stage {
    max-width: 98%;
    border: 2px solid #fef;
    border-radius: 2em;
    padding: 0 !important;
}

.image-stage:hover {
    border: 2px solid #e8410c;
    border-radius: 2em;
}

.stage-name {
    position: absolute;
    top: 74%;
    left: 33%;
    color: #fff;
    font-size: 1.35rem;
}

/*-------- Screenpacks ------------*/
#screenpacks {
    margin: 0 .5em;
}

.screenpack {
    border: 2px solid #fef;
    border-radius: 1.05em;
}

.video-screenpack {
    width: 400px;
    height: 225px;
    border: 1px solid rgba(2,2,2,.45);
    border-radius: .75rem;
}

.screenpack-name {
    background-color: #a7200f;
    border: #4b1602 3px solid;
    border-radius: .75rem;
    color :#fff;
    font-family: 'Bangers', cursive;
    text-decoration: none;
    font-size: 1.45rem;
    text-align: center;
    padding: .25em;
}

.screen-description {
    color :#fff;
    font-size: 1.075rem;
    margin-top : .45em;
}

.carousel-img {
    border: 1px solid rgba(222,222,222,.35);
    border-radius: .75rem;
}

/*--------- Projects ---------------*/

#projects {
    margin: 0 .5em;

}

.project {
    border: 2px solid #fef;
    border-radius: 1.05em;
}

.video-projet {
    width: 480px;
    height: 360px;
    border: 1px solid rgba(2, 2, 2, .45);
    border-radius: .75rem;
    margin: 0 .5em;
}

.project-title {
    font-size: 1.75rem;
    color: #fff;
    text-align: center;
    margin: .5em .5em;
}

/*!***** Media queries ******!*/
/*@media screen and (max-width: 1660px) {*/
/*    .navs-link {*/
/*        font-size: 58px;*/
/*    }*/
/*}*/
/*@media screen and (max-width: 1439px) {*/
/*    .btn-nav {*/
/*        border-radius: 36%;*/
/*    }*/

/*    .navs-link {*/
/*        font-size: 54px;*/
/*    }*/

/*    #logo img{*/
/*        width : 80%;*/
/*    }*/
/*}*/

/*@media screen and (max-width: 1199px) {*/
/*    .navs-link {*/
/*        font-size: 52px;*/
/*    }*/

/*    .btn-nav {*/
/*        border-radius: 29%;*/
/*    }*/
/*}*/

/*@media screen and (max-width: 992px) {*/
/*    .navs-link {*/
/*        font-size: 46px;*/
/*    }*/

/*    .btn-nav {*/
/*        border-radius: 22%;*/
/*    }*/
/*}*/

/*@media screen and (max-width: 767px) {*/
/*    .navs-link {*/
/*        font-size: 42px;*/
/*    }*/

/*    .btn-nav {*/
/*        border-radius: 8%;*/
/*    }*/
/*}*/

/*@media screen and (max-width: 575px) {*/
/*    .navs-link {*/
/*        font-size: 38px;*/
/*    }*/

/*    .btn-nav {*/
/*        border-radius: 2%;*/
/*        height: 5.5em;*/
/*    }*/
/*}*/

/*@media screen and (max-width: 470px) {*/
/*    .navs-link {*/
/*        font-size: 32px;*/
/*    }*/

/*    .btn-nav {*/
/*        margin: .35em .75em;*/
/*    }*/

/*    #pres h2 {*/
/*        font-size: 1.75em;*/
/*        margin: 15px 0;*/
/*    }*/

/*    #pres p {*/
/*        font-size: .895em;*/
/*        line-height: 1;*/
/*        padding: 4px 4px;*/
/*    }*/

/*    #news h2 {*/
/*        font-size: 1.75em;*/
/*    }*/

/*    #news p {*/
/*        font-size: .85em;*/
/*    }*/
/*}*/